<!-- <p>skills works!</p> -->
<div class="container-fluid skill-color p-5 pt-5 pb-5" id="skills">
  <div class="row">
    <h1 class="text-center fs-1 text-white">Skills</h1>
    <p class="text-center text-white pt-4 pb-4 ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, inventore sint at sapiente atque eum nulla? Ex commodi, ipsum quas dolore autem impedit saepe odio pariatur! Nostrum quidem autem provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore saepe nam tempore nostrum id corporis ut animi consequuntur in, doloribus voluptatum amet ipsum, quaerat harum incidunt velit ad reiciendis sit?
    </p>
    <div class="container">
      <div class="row">
      <div class="col-4">
        <ul class="list-unstyled text-white text-center p-3">
          <li class="p-2">My Foucs</li>
          <hr class="te">
          <li class="p-2">UI/UX Design</li>
          <li class="p-2">Responsive Design</li>
          <li class="p-2">Web Design</li>
          <li class="p-2">Mobile App Design</li>
        </ul>
      </div>
      <div class="col-lg-6">

        <div class="p-2">
          <div class="progress pro-high p2">
            <div class="progress-bar text-start  bg-info" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">&nbsp;&nbsp; HTML</div>
          </div>
        </div>
        <div class="p-2">
          <div class="progress pro-high p2">
            <div class="progress-bar text-start  bg-info" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">&nbsp;&nbsp; CSS</div>
          </div>
        </div>
        <div class="p-2">
          <div class="progress pro-high p2">
            <div class="progress-bar text-start  bg-info" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">&nbsp;&nbsp; JavaScript</div>
          </div>
        </div>
        <div class="p-2">
          <div class="progress pro-high p2">
            <div class="progress-bar text-start  bg-info" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">&nbsp;&nbsp; JQyery</div>
          </div>
        </div>
        <div class="p-2">
          <div class="progress pro-high p2">
            <div class="progress-bar text-start  bg-info" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">&nbsp;&nbsp; Bootstrap</div>
          </div>
        </div>
        <div class="p-2">
          <div class="progress pro-high p2">
            <div class="progress-bar text-start  bg-info" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">&nbsp;&nbsp; Node.js</div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
