<!-- <p>footer works!</p> -->
<div class="container-fluid p-5 footer-color text-white" id="contact-me">
  <div class="row">
    <div class="col-4 text-start">
      <p>
        GET IN TOUCH
      </p>
      <i class="fa-solid fa-envelope-circle-check"></i>&nbsp;
      <a href="mailto:Muhammad.Sedky.eg@gmail.com">Muhammad.Sedky.eg@gmail.com</a><br>
      <i class="fa-solid fa-phone"></i>&nbsp;
      <a href="tel:+2 01111622120">+2 01111622120</a>


    </div>
        <div class="col-4 text-center">
      <a href="#about-me" class="btn-dark btn border-white">CONTACT ME</a>
    </div>
        <div class="col-4 text-end">
      <i class="fa-brands fa-linkedin p-3 fs-3"></i>
      <i class="fa-brands fa-facebook p-3 fs-3"></i>
      <i class="fa-brands fa-twitter p-3 fs-3"></i>
      <div class="p-3">
        <p>Sedky &copy; 2022 ITI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </div>
    </div>
  </div>
</div>
