
<div class="center-screen p-4">
  <select class="form-select mb-3 w-50 btn-secondary"
  [(ngModel)] ="selectedCatID">
    <option value="0">All Categories</option>
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>
</div>


<app-products [selectCatID] = "selectedCatID"
(totalPriceChanged)="onTotalPriceChanged($event)"></app-products>


<div class="center-screen pt-5">
  <p class="fw-bold border border-success brd border-2 rounded-pill text-center  text-dark fs-4 p-3 w-50 d-block" > The Total Price = {{recivedTotalPrice | currency: "EGP " }}</p>
</div>
